
/* SLIDER STYLES */
	
.fractionslider-wrapper{
	position:relative;
	overflow:hidden;
	width:100%;
}

.fractionslider{
	position:relative;
	width:100%; 
/*	height:400px; when responsive, comment this out */
	margin:0 auto;
}

/* ELEMENT STYLES */

.fractionslider p{
	position:absolute;
	top:-200px;
	z-index:8000;
	padding:1% 3%;
	font-size:24px;
	line-height:100%;
	margin-bottom:0;
}

.fractionslider .claim{
	line-height:100%;
	font-family: 'TitilliumText22LRegular', sans-serif;
}	

.fractionslider .teaser{
	padding:0.5% 1.5% 1% 1.5%;
	font-size:16px;
	line-height:100%;
	background:rgba(0,0,0,0.40);
}

.fractionslider .small{
	width:250px;
    padding-left:0; padding-right:0px;
	text-align:center;
}

.fractionslider .medium{
	width:450px;
   	padding: 0.5% 1.5% 1% 1.5%;
	text-align:left;
	line-height:1.2;	
}

.fractionslider .mediumsmall{
	width:350px;
   	padding: 0.5% 1.5% 1% 1.5%;
	text-align:left;
	line-height:1.2;
}

.fractionslider .middle{
	width:1000px;
	text-align:center;
	margin:0 auto;
}

.fractionslider .middle span{
	background:rgba(0,0,0,0.70);
	padding: 1% 2%;
	display:inline-block;
	font-family: 'TitilliumText22LRegular', sans-serif;
}

.fractionslider .middle2{
	width:1000px;
	text-align:center;
	margin:0 auto;
}

.fractionslider .middle2 span{
	background:rgba(0,0,0,0.70);
	padding: 1% 2%;
	display:inline-block;
	font-size:16px;
	font-size:1.6rem;
}

.fractionslider .middle-caption{
	width:1000px;
	text-align:center;
	padding:10px 75px;
	display:none;
}

.fractionslider .middle-caption span{
	display:none;
	font-size:16px;
	font-size:1.6rem;
}

.fractionslider .button{
   	padding: 1.0% 3.0%;
	text-align:left;
    background:#333437;
    border-bottom: 4px solid #000000;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-family: 'TitilliumText22LRegular',sans-serif;
	font-size:18px;
    font-size: 1.8rem;
    line-height: 1;
	text-transform:none;
}

.fractionslider .light-green{background:#95C542;}
.fractionslider .green{background:#7CB761}
.fractionslider .orange{background:#EF7D00}
.fractionslider .turky{background:#348E8A}
.fractionslider .white{background:#fff; color:#333}
.fractionslider .brown{background:#333437;}

.fractionslider .centerheading{
	width:300px;
	padding:10px 0 15px 0;
	font-size:22px;
	font-size: 2.2rem;
	text-align:center;
	font-family:'TitilliumText22LMedium',sans-serif;
	text-shadow: 1px 1px #000000;
	color:#fff;
}
.fractionslider .centerdescription{
	width:300px;
	padding:10px 0 15px 0;
	font-size:14px;
	font-size: 1.4rem;
	text-align:center;
	line-height:150%;
	color:#fff;	
}
.fractionslider .centeritem{
	border-bottom:1px solid rgba(0,0,0,0.10);
	width:260px;
	padding:0.6em 0 0.8em 0;
	font-size:14px;
	font-size: 1.4rem;
	color:#fff;
}
.fractionslider .centeritem:before{
	content:"\f00c";
	font-family:'FontAwesome';
	font-size:14px;
	font-size: 1.4rem;
	color:#fff;
	display:none;
	margin:0 10px 0 0;
}
.fractionslider .centerbutton{
	width:240px;
	border-bottom: 2px solid #000000;
	background:#252528;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
    padding: 1em 1.8em;
	color:#fff;
	font-size:18px;
	font-size: 1.8rem;
	text-align:center;		
}
.fractionslider .centerbutton a{
	color:#fff;
}
.fractionslider .centerbutton a:after{
	content:"\f0a9";
	font-family:'FontAwesome';
	font-size:18px;
	font-size:1.8rem;
	color:#fff;
	display:none;
	margin:0 0 0 10px;
}
.fractionslider .sidetitle{
	width:220px;
	padding:0.8em 0 1em 0;
	font-size:22px;
	font-size: 2.2rem;
	text-align:center;
	font-family:'TitilliumText22LMedium', sans-serif;
	text-shadow: 1px 1px #000000;
	color:#fff;
}
.fractionslider .sidedesc{
	width:220px;
	padding:0.8em 0 1em 0;
	font-size:14px;
	font-size: 1.4rem;
	line-height:1.5;
	text-align:center;
	color:#fff;
}
.fractionslider .sideitem{
	border-bottom:1px solid rgba(0,0,0,0.10);
	width:220px;
	padding:0.6em 0 0.8em 0;
	font-size:14px;
	font-size: 1.4rem;
	color:#fff;
}
.fractionslider .sideitem:before{
	content:"\f00c";
	font-family:'FontAwesome';
	font-size:14px;
	font-size: 1.4rem;
	color:#fff;
	display:none;
	margin:0 10px 0 0;
}
.fractionslider .sidebutton{
	width:185px;
	border-bottom: 2px solid #000000;
	background:#252528;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
    padding: 0.8em 1.2em;
	color:#fff;
	font-size:16px;
	font-size: 1.6rem;
	text-align:center;		
}
.fractionslider .sidebutton a{
	color:#fff;
}
.fractionslider .sidebutton a:after{
	content:"\f0a9";
	font-family:'FontAwesome';
	font-size:16px;
	font-size:1.6rem;
	color:#fff;
	display:none;
	margin:0 0 0 10px;
}
.fractionslider .sidebutton span:after{
	content:"\f0a9";
	font-family:'FontAwesome';
	font-size:16px;
	font-size:1.6rem;
	color:#fff;
	display:none;
	margin:0 0 0 10px;
}

.fractionslider a{color:#fff;}

@media screen 
and (min-width : 901px) {
.fractionslider .middle-caption span{
	display:inline-block;
}
.fractionslider .sidebutton a:after{
	display:inline-block;
}
.fractionslider .sidebutton span:after{
	display:inline-block;
}
.fractionslider .sideitem:before{
	display:inline-block;
}
.fractionslider .centerbutton a:after{
	display:inline-block;
}
.fractionslider .centeritem:before{
	display:inline-block;
}
}